
DirectivasPP.c

a.out

EntradasSalidas.c

EntradasSalidas2.c

EntradasSalidas3.c

Hola Mundo.c

ifelse-C.c

OprAritmetica.c

OperadorAsignacion.c

Prueba.c

TipoDeDatos.c

If.c

if2.c

AreasTrapecios.c
